// Grid Object




// Dependencies
//   Settings.Default




// Options

$iota-grid                : true;
$iota-grid--centered      : false !default;
$iota-grid-gutter-default : 20px !default;
$iota-grid-gutter-extra   : () !default;




.#{$iota-object-namespace}grid {
  list-style: none;
  margin-left: -$iota-grid-gutter-default;
}

  .#{$iota-object-namespace}grid__col {
    display: inline-block;
    margin-right: -.25em;
    padding-left:   $iota-grid-gutter-default;
    padding-bottom: $iota-grid-gutter-default;
    width: 100%;
    min-height: 1px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }




// Centered Grid Object

@if ($iota-grid--centered == true) {

  .#{$iota-object-namespace}grid__item--centered {
    display: block;
    margin-left:  auto;
    margin-right: auto;
  }

}




// Grid Object Extra Gutters

@each $name, $size in $iota-grid-gutter-extra {

  .#{$iota-object-namespace}grid--#{$name} {
    margin-left: -$size;

    .#{$iota-object-namespace}grid__col {
      padding-left: $size;
    }

  }

}
