// Grid Object




// Dependencies
//   Settings.Default




// Options

$iota-grid                : true;
$iota-grid--aligned       : false !default;
$iota-grid--rev           : false !default;
$iota-grid-gutter-default : 20px !default;
$iota-grid-gutter-extra   : () !default;




.#{$iota-object-namespace}grid {
  list-style: none;
  margin-left: -$iota-grid-gutter-default;

  & > .#{$iota-object-namespace}grid__col {
    display: inline-block;
    padding-left:   $iota-grid-gutter-default;
    padding-bottom: $iota-grid-gutter-default;
    width: 100%;
    min-height: 1px;
    vertical-align: top;
    box-sizing: border-box;
  }
}




// Grid Object Extra Alignents

@if ( $iota-grid--aligned == true ) {

  .#{$iota-object-namespace}grid--right {
    text-align: right;

    & > .#{$iota-object-namespace}grid__col {
      text-align: left;
    }
  }

  .#{$iota-object-namespace}grid--center {
    text-align: center;

    & > .#{$iota-object-namespace}grid__col {
      text-align: left;
    }
  }

  .#{$iota-object-namespace}grid--middle {
    & > .#{$iota-object-namespace}grid__col {
      vertical-align: middle;
    }
  }

  .#{$iota-object-namespace}grid--bottom {
    & > .#{$iota-object-namespace}grid__col {
      vertical-align: bottom;
    }
  }

}




// Grid Object Reversed

@if ( $iota-grid--rev == true ) {
  
  .#{$iota-object-namespace}grid--rev {
    direction: rtl;
    text-align: left;
    
    & > .#{$iota-object-namespace}grid__col {
      direction: ltr;
      text-align: left;
    }
  }
  
}




// Grid Object Extra Gutters

@each $name, $size in $iota-grid-gutter-extra {

  .#{$iota-object-namespace}grid--#{$name} {
    margin-left: -$size;

    & > .#{$iota-object-namespace}grid__col {
      padding-left:   $size;
      padding-bottom: $size;
    }

  }

}
